
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:400,700');
/* -----------------------------------Variables */
:root{
  --green-color:#7ACC2D;
  --white-color:#FFFFFF;
  --black-color:#313337;
  /* Espaciado */
  --space:10px;
  /* Tipografia */
  --normal:12px;
  --box:0 0 1px #c1bcbc;
  
  
}
/* -----------------------------------Variables */
html,body{
  padding: 0px;
  margin: 0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}
/* -----------------------------------Nav Bar */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green-color);
  padding: var(--space);
  color:var(--white-color);
}

nav ul{
  display: flex;
}
nav li{
  padding-left: 20px;
  list-style: none;
}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}
nav li a:hover{
  color: var(--white-color);
}

/* ----------------------------Main Section */

.main_section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../images/curve.png");
  height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display:flex;
  
}

.product{
  padding: 10px;
  margin-top: -240px;
}

.product .content{
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
  
}

.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: white;
  border: none;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #5e9e22;
  cursor: pointer;
}

/* ----------------------------Benefits Section */

.benefits{
  width:100%;
  height: 400px;
  background-color: bisque;
  border: 2px black;
}

.benefits .container{
  width:100%;
  height: 400px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.benefit1{
  width:138px;
  height: 113px;
  background-color: blue;
  
}
.benefit2{
  width:118px;
  height: 98px;
  background-color: green;
  
}
.benefit3{
  width:122px;
  height: 72px;
  background-color: grey;
  
}

.img_benefit img{
  text-align: center;
  width: 100%;
}

.container h4{
  font-size: 13px;
}
.container h5{
  font-size: 13px;
}
/* ----------------------------Menciones */
.mention_container{
  width: 100%;
  height: 50px;
  
}
.mention_container h2{
 font-size: 30px; 
 text-align: center;
}

.menciones{
  margin-top:0;
  width:100%;
  height: 350px;
  background-color:var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mencion{
  display: flex;
  flex-direction: column;
  width:250px;
  height: 220px;
  background-color: var(--white-color);
  margin: 5px;
  /* border: 1px solid var(--black-color); */
  box-shadow: 0 0 3px;
}
.mencion img{
  width: 100%;
}

.mencion h1{
  margin-left: 5px;
  font-size: 17px;
}

.mencion p{
  margin-left: 5px;
  font-size: 12px;
}
/* ----------------------------Footer */

footer{
  display: flex;
  justify-content: left;
  align-items: center;
  width:100%;
  height: 100px;
  background-color: #313337;
}

/* footer a{
  margin-right: 500px;
  font-size: var(--normal);
  color: white;
} */

footer .terminos{
  margin-left: 20px;
  font-size: var(--normal);
  color: white;
}

footer .contacto{
  margin-left: 77%;
  font-size: var(--normal);
  color: white;
}








